.why-section{
    background:#111;
    padding:120px 0;
}

.feature-card{

    background:#181818;

    border-radius:12px;

    padding:40px 30px;

    text-align:center;

    height:100%;

    transition:.4s;

    border:1px solid rgba(212,175,55,.15);

}

.feature-card:hover{

    transform:translateY(-10px);

    border-color:#D4AF37;

    box-shadow:0 20px 40px rgba(212,175,55,.15);

}

.feature-icon{

    font-size:55px;

    color:#D4AF37;

    margin-bottom:20px;

}

.feature-card h4{

    color:white;

    margin-bottom:15px;

}

.feature-card p{

    color:#bdbdbd;

}