.featured-section{
    background:#0d0d0d;
    padding:120px 0;
}

.section-title h2{
    color:#fff;
    font-size:46px;
    margin-bottom:15px;
}

.section-title p{
    color:#bfbfbf;
    font-size:18px;
}

/* CARD */

.Property-card{
    background:#181818;
    border-radius:15px;
    overflow:hidden;
    transition:.4s;
    border:1px solid rgba(212,175,55,.15);
    box-shadow:0 10px 30px rgba(0,0,0,.35);
    height:100%;
}

.Property-card:hover{
    transform:translateY(-10px);
    border-color:#37b5d4;
    box-shadow:0 25px 60px rgba(212,175,55,.25);
}

.Property-image-wrapper{
    position:relative;
    overflow:hidden;
}

.Property-image{
    width:100%;
    height:280px;
    object-fit:cover;
    transition:.6s;
}

.Property-card:hover .Property-image{
    transform:scale(1.1);
}

.favorite-btn{
    position:absolute;
    top:18px;
    right:18px;
    width:45px;
    height:45px;
    border-radius:50%;
    border:none;
    background:white;
    color:#37b5d4;
    font-size:18px;
}

.favorite-btn:hover{
    background:#37b5d4;
    color:black;
}

.featured-badge{
    position:absolute;
    top:18px;
    left:18px;
    background:#111;
    color:white;
    padding:8px 18px;
    border-radius:5px;
    font-size:14px;
}

.status-badge{
    position:absolute;
    bottom:18px;
    left:18px;
    background:#37b5d4;
    color:black;
    padding:8px 18px;
    border-radius:5px;
    font-weight:600;
}

.Property-body{
    padding:28px;
}

.Property-price{
    color:#37b5d4;
    font-size:30px;
    margin-bottom:12px;
}

.Property-title{
    color:white;
    margin-bottom:15px;
}

.Property-location{
    color:#d0d0d0;
    margin-bottom:20px;
}

.Property-rating{
    color:#37b5d4;
    display:flex;
    align-items:center;
    gap:8px;
    margin-bottom:20px;
    font-weight:600;
}

.Property-info{
    display:flex;
    justify-content:space-between;
    color:white;
    padding:20px 0;
    border-top:1px solid rgba(255,255,255,.08);
    border-bottom:1px solid rgba(255,255,255,.08);
}

.Property-info span{
    display:flex;
    align-items:center;
    gap:8px;
}

.Property-footer{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:25px;
}

.agent{
    color:white;
    display:flex;
    align-items:center;
    gap:8px;
}

.details-btn{
    background:none;
    border:none;
    color:#37b5d4;
    font-weight:600;
    display:flex;
    align-items:center;
    gap:8px;
    transition:.3s;
}

.details-btn:hover{
    transform:translateX(5px);
}

@media(max-width:768px){

.Property-info{
    flex-direction:column;
    gap:15px;
}

.Property-footer{
    flex-direction:column;
    gap:20px;
    align-items:flex-start;
}

}